body{
    overflow-x: hidden;
}
.bodybackground{
    background-color: #1b2a4e;
    background-image: url("../assets/img/vecteezy_abstract-blue-fluid-wave-background_.jpg");
}
/*--------navbar---------*/

.navbar .logo{
    width: 35px;
    height: 35px;
    grid-column: 2/3;
    transition: all 1s;
    animation-name: rotar-logo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes rotar-logo {
    0%{
        transform: rotateX(50deg);
        transform: rotateX(0deg);
    }

    50%{
        transform: rotateX(200deg);
        transform: rotateX(180deg);
    }

    100%{
        transform: rotateX(180deg);
        transform: rotateX(360);
    }
}
/*---------------main--------------*/
.carousel-inner{
    max-height: 39rem;
}


#local{
    background: #f3f3f3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
}
#numeros-local div{
    padding: 0 20 0 0;
    height: 48px;
}

#numeros-local div:not(:last-child){
    border-right: 2px solid #f3f3f3;
}

#numeros-local div:not(:first-child){
    padding-left: 20px;
}

#numeros-local p{
    margin: 0;
}

#seccion-contacto{
    background-color: #1b2a4e;
    min-height: 650px;
    position: relative;
}
#contenedor-formulario{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}
#titulo-formulario{
    color: #3f3f3f;
}

/*---------------FOOTER---------------*/

footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}


/*---------media queries mas grande a mas chico-------------*/
@media (max-width:1200px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .wrapper{
        width: 90%;
        margin: auto;
    }
}
@media (max-width:768px){
    #intro, #equipo{
        width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
    #bg-contacto{
        top: -110px;
}
@media (max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}