@media screen and (max-width:1240px){

    .imagenes-en-carrousel{
        display: none;
    }

    .principal{
        max-width: 90%;
        height: 700px;
        max-width: 100%;
        display: grid;
        grid-template-areas: "bloque1  vacio"
        "bloque1  bloque2"
        "bloque1  vacio"
        ;
        grid-template-columns:  0.5fr 0.5fr;
        grid-auto-rows: 0.5fr 0.5fr;
    
    }

    .principal .contenido{
        grid-area: bloque1;
        color: rgb(41, 33, 33);
        margin: 70px;
        padding: 70px;
        grid-template-columns:  0.5fr 0.5fr;
        grid-auto-rows: 0.5fr 0.5fr;
        
    
    }
    .contenedor/*main sobre nosotros*/{
        max-width: 380px;
        width: 900%;
        margin: 10px;
        padding: 20px;
        grid-area: bloque2;
    }

@media screen and (max-width:600px){

    .imagenes-en-carrousel{
        display: none;
    }

    .principal{
        max-width: 90%;
        height: 700px;
        max-width: 100%;
        display: grid;
        grid-template-areas: "bloque1  bloque2 "
        "bloque1  bloque2"        ;
        grid-template-columns:  0.5fr 0.5fr;
        grid-auto-rows: 0.5fr 0.5fr;
    }

    .principal .contenido{
        grid-area: bloque2;
        color: rgb(41, 33, 33);
    
    }
    .principal h1{
        font-size: 20px;
    }
    .principal p{
        font-size: 18px;
    }
    .principal .boton{
        font-size: 9px;
        width: 700;
        color: yellow;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.616);
        border: solid 1px yellow;
        margin: 10%;
    }
    .videos{
        display: block;
    }

    }
    .box-contacto{
        display: block;
        grid-area: bloque2;
    }
    .contenido3 /*soponsors main*/{
        display: block;
        grid-area: bloque1;
        margin: 10px;
    }
    .imagen-sponsor{
        width: 150px;
        height: 150px;
    }
    .contenedor{
        max-width: 210px;
        width: 100%;
        margin: 10px;
        grid-area: bloque1;
    }


